body {
  background:#53d6d7;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  
  text-align: center;
  font-family: "Kanit", sans-serif;
  color: black;
}
button {
  margin: 0;
}
p,
button {
  display: inline;
}
form {
  padding: 1rem;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
li{
  border-radius: 10px;
  margin-top: 10px;
}
.principal__tarefa {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #c0c0c0;
}
.principal__enviar {
  background-color: #8bebeb;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
}
.nome__riscado {
  text-decoration: line-through;
}
.principal__excluir,
.principal__feito {
  padding: 0.6rem;
  margin-left: 5px;
}
.principal__excluir {
  background-color: #a7f5f5;
  border: none;
  border-radius: 3px;
}
.principal__feito {
  background-color: #a7f5f5;
  border: none;
  border-radius: 3px;
}
.principal__tarefas {
  list-style-type: none;
  display: block;
  background-color: aqua;
  padding: 0.8rem;
}
.principal__tarefa:focus {
  border: solid 3px goldenrod;
}
.principal__texto{
  font-weight: bold;
}